<main class="p-4" id="main">
	<form hx-post="/api/data" hx-target="#main" hx-push-url="true" hx-swap="outerHTML" class="mb-3 d-flex flex-row gap-2 align-items-center justify-content-center ">
		<input name="address" placeholder="Enter wallet address" />
		<button type="submit" class="btn-outline-primary">Submit</button>
	</form>

	{{#if isData }}
	<div id="wallet-data">
		<div class="mb-3 d-flex flex-column  align-items-center justify-content-center ">
			<h4>Wallet Balance for {{ address }}</h4>
			<p class="text-sm font-weight-light">(Liquidity less than $100 isnt included in walletbalance)</p>
			<p class="text-lg text-weight-bold ">${{ walletBalance }}</p>
		</div>

		<div class="mb-3">
			<h2>Data</h2>
			<table class="table">
				<thead>
					<tr>
						<th scope="col">Mint Address</th>
						<th scope="col">Token Balance</th>
						<th scope="col">Name</th>
						<th scope="col">Price</th>
						<th scope="col">FDV</th>
						<th scope="col">Liquidity</th>
						<th scope="col">Value</th>
						<th scope="col">Price change 24h</th>
					</tr>
				</thead>
				<tbody>
					{{#each combinedData}}
					<tr>
						<td>{{this.mintAddress}}</td>
						<td>{{this.tokenBalance}}</td>
						<td>{{this.name}}</td>
						<td>{{this.price}}</td>
						<td>{{this.fdv}}</td>
						<td style="{{#if this.danger}}background-color:#FF0000{{/if}};">{{this.liquidity}}</td>
						<td>{{this.value}}</td>
						<td>{{this.priceChange.h24}}</td>
					</tr>
					{{/each}}
				</tbody>
			</table>
		</div>
	</div>
	{{/if}}
</main>